@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 14, 14);
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 38px;
    transition: .5s;
    font-family: 'Great Vibes', sans-serif;
}

li:hover {
    color: rgb(230, 181, 49);
}

#Logo {
    width: 110px;
    height: auto;
}

#banner {
    background-image: url('https://cdn.wallpapersafari.com/23/0/98zDiH.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.Content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.trailer {
    width: 48%;
    margin-top: 310px;
}

#textocafe {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 140px;
    margin-top: 280px;
}

.description {
    color: aliceblue;
    font-size: 45px;
    font-family: 'Great Vibes', sans-serif;
}

.button {
    width: 200px;
    height: 60px;
    background-color: rgb(41, 10, 10);
    color: aliceblue;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: rgb(230, 181, 49);
    color: aliceblue;
}

.cafe-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.cards-content {
    width: 70%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin-top: 30px;
    background-size: cover;
}

.card {
    flex: 1;
    max-width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Great Vibes', sans-serif;
}

.card:hover {
    transform: scale(1.02);

}

.banner-1 {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/351/200/897/grains-coffee-allsorts-scoops-wallpaper-preview.jpg');
}

.banner-2 {
    background-image: url('https://images.pexels.com/photos/4927142/pexels-photo-4927142.jpeg?cs=srgb&dl=pexels-anna-tarazevich-4927142.jpg&fm=jpg');
}

.banner-3 {
    background-image: url('https://www.houseofwellness.com.au/wp-content/uploads/2022/04/caffeine-intake.jpg');
}


.description2-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.description2 {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Great Vibes', sans-serif;
    text-align: center;
    margin-top: 50px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: aliceblue;
    font-family: 'Great Vibes', sans-serif;
    font-size: 30px;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;

    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .Content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer{
        width: 100%;
    }

    #sinopse{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description{
        width: 100%;
    }

    .button{
        width: 100%;
        margin-top: 30px;
    }

    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}

body {
    font-family: Arial, sans-serif;
}

.depoimento {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.user-icon {
    color: #0074D9; /* Cor do ícone de usuário */
    font-size: 24px; /* Tamanho do ícone de usuário */
    margin-right: 10px; /* Espaço à direita do ícone de usuário */
}